.green {
    background-color: green;
    width: 100%;
  }
  .red {
    background-color: red;
    width: 100%;
  }
  .h2class{
    font-size: 20px;
    padding-left: 20px !important;
  }
  .whiteSpace{
    white-space: normal;
  }
  .correctanswerStyle{
    color: forestgreen;
    background: bisque;
    width: 100%;
    margin: 0px;
    padding: 2px;
  }
  .wronganswerStyle{
    color: red;
    background: bisque;
    width: 100%;
    margin: 0px;
    padding: 2px;
  }